@import url("https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css");
@import 'tailwindcss';

@theme{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer components {
  .before {
    @apply before:absolute before:content-[''];
  }

  .after {
    @apply after:absolute after:content-[''];
  }

  .nav.open {
    @apply scale-y-100 origin-top;
  }

  .hamburger.close {
    div:first-child {
      @apply rotate-45 translate-y-2;
    }

    div:nth-child(2) {
      @apply opacity-0;
    }

    div:last-child {
      @apply -rotate-45 -translate-y-2;
    }
  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sour-gummy), Helvetica, sans-serif;
}
