@import url("https://cdn.jsdelivr.net/npm/remixicon@4.6.0/fonts/remixicon.css");
@import "tailwindcss";

@theme {
  --font-title: "CookieRun-Regular", "sans-serif";
  --font-kor: "SUIT-Regular", "sans-serif";
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-background-dark: #0a0a0a;
  --color-foreground-dark: #ededed;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  @font-face {
    /*  400 700 900 */
    font-family: 'CookieRun-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
  /* 100 - 900 */
    font-family: 'SUIT-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}

@layer utilities {
  .animate-fall {
    animation: fall linear infinite;
  }

  .animate-sway {
    animation: sway ease-in-out infinite alternate;
  }

  .text-kor {
    font-family: 'SUIT-Regular', sans-serif;
  }
  .snow {
    @apply pointer-events-none z-[1] text-white;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff,
                 0 0 15px #89CFF0;
  }

  .petal {
    @apply pointer-events-none z-[1];
  }

  body.overflow-hidden {
    overflow: hidden !important;
    position: fixed;
    width: 100%;
    height: 100vh;
    /* 스크롤바가 사라질 때 레이아웃 시프트 방지 */
    padding-right: var(--scrollbar-width);
  }
}

@layer components {
  .tooltip {
    @apply absolute -top-10 left-1/2 -translate-x-1/2 
    hidden group-hover:block 
    bg-gray-800 text-white dark:text-gray-800 dark:bg-white text-sm font-normal
    px-2 py-1 rounded-md whitespace-nowrap
    after:content-[''] after:absolute after:top-full after:left-1/2
    after:-translate-x-1/2 after:border-4
    after:border-transparent after:border-t-gray-800
  }

  .tooltip-skill {
    @apply invisible opacity-0 
      absolute -top-8 left-1/2 -translate-x-1/2
      px-2 py-1 
      bg-gray-800 text-white text-xs rounded
      whitespace-nowrap
      transition-all duration-300
      group-hover:visible group-hover:opacity-100
      dark:bg-gray-200 dark:text-gray-800;
  }

  .tooltip-skill::after {
    content: '';
    @apply absolute top-full left-1/2 -translate-x-1/2
      border-4 border-transparent border-t-gray-800
      dark:border-t-gray-200;
  }

  .tooltip-skill-bottom {
    @apply invisible opacity-0 
      absolute top-full left-1/2 -translate-x-1/2
      mt-2
      px-2 py-1 
      bg-gray-800 text-white text-xs rounded
      whitespace-nowrap
      transition-all duration-300
      group-hover:visible group-hover:opacity-100
      dark:bg-gray-200 dark:text-gray-800;
  }

  .tooltip-skill-bottom::before {
    content: '';
    @apply absolute bottom-full left-1/2 -translate-x-1/2
      border-4 border-transparent border-b-gray-800
      dark:border-b-gray-200;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    background: var(--background);
    color: var(--foreground);
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .before {
    @apply before:absolute before:content-[''];
  }

  .after {
    @apply after:absolute after:content-[''];
  }
}

@keyframes fall {
  0% {
    top: -10px;
    opacity: 1;
  }
  100% {
    top: 100vh;
    opacity: 0;
  }
}

@keyframes sway {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 50px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sour-gummy), 'CookieRun-Regular', 'SUIT-Regular', Helvetica, sans-serif;
}
